# 1a1a11a
mimircache/CExtension/makefile
mimircache/bin
mimircache/A1a1a11a
mimircache/cache/deprecated
mimircache/cache/TODO
*deprecated*
*.DS_Store*
paper
*.bak




# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.dylib

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
#docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints


# old 
oldModule/ 

# pycharm 
.idea/
data/test.dat
data/test.py
memo
mimircache/CExtension/cache/LRFU.c
mimircache/CExtension/cache/SLRUML.c
mimircache/CExtension/cache/Score.c


mimircache/CExtension/test.c
mimircache/cache/external/
tVarying/
mimircache/CExtension/akamaiSimulator/threadManagement
mimircache/CExtension/akamaiSimulatorExcluded/
mimircache/CExtension/bin/
mimircache/CExtension/pyBindingTest/
mimircache/CExtension/pyBindings/pyReaderClass.c
