include mimircache/CExtension/headers/*.h
include mimircache/CExtension/headers/cache/*.h
include mimircache/CExtension/cache/*.h
include *.py
include mimircache/conf
graft mimircache/cacheReader/vscsi/src




