include *.c
include mimircache/CExtension/headers/*.h
include mimircache/CExtension/cache/*.h
include *.py
graft mimircache/CExtension/
graft mimircache/CExtension/headers/
graft mimircache/cacheReader/vscsi/src
graft mimircache/profiler/parda/src
graft mimircache/profiler/parda/src/h




