appnope==0.1.0
asprise-ocr-sdk-python-api==15.3.0.8
backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
Beaker==1.7.0
beautifulsoup4==4.4.1
boto==2.38.0
bz2file==0.98
certifi==2015.9.6.2
cffi==1.5.0
characteristic==14.3.0
coursera==0.0.3
coursera-dl==3.1.1
cryptography==1.2.2
cssselect==0.9.1
Cython==0.23.4
decorator==4.0.4
enum34==1.1.2
Flask==0.10.1
funcsigs==0.4
functools32==3.2.3.post2
gensim==0.12.3
gevent==1.0.2
gnureadline==6.3.3
greenlet==0.4.9
html5lib==1.0b8
httpretty==0.8.6
idna==2.0
ipaddress==1.0.16
ipykernel==4.1.1
ipython==4.0.0
ipython-genutils==0.1.0
ipywidgets==4.1.1
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.1.1
jupyter-console==4.0.3
jupyter-core==4.0.6
lxml==3.5.0
MarkupSafe==0.23
matplotlib==1.4.3
mechanize==0.2.5
mistune==0.7.1
mock==1.3.0
nbconvert==4.1.0
nbformat==4.0.1
nltk==3.1
nose==1.3.7
notebook==4.0.6
numpy==1.10.1
ocropy==0.2
path.py==8.1.2
pbr==1.8.1
pexpect==4.0.1
pickleshare==0.5
Pillow==3.0.0
psutil==4.0.0
ptyprocess==0.5
pyasn1==0.1.9
pyasn1-modules==0.0.8
pybloomfilter==1.0
pybloomfiltermmap==0.3.14
pycparser==2.14
pyexiftoolgui==0.5
Pygments==2.0.2
pyOpenSSL==0.15.1
pyparsing==2.0.3
python-dateutil==2.4.2
pytz==2015.7
pyzmq==15.0.0
qtconsole==4.1.0
queuelib==1.2.2
requests==2.8.1
scikit-learn==0.17
scipy==0.16.1
Scrapy==1.0.5
selenium==2.53.1
service-identity==14.0.0
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
smart-open==1.3.0
terminado==0.5
Tkinter==0.0.0
topia.termextract==1.1.0
tornado==4.3
traitlets==4.0.0
Twisted==15.5.0
urllib3==1.12
virtualenv==13.1.0
w3lib==1.13.0
Werkzeug==0.10.4
zope.interface==4.1.3
